<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firenze1985.matemapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.firenze1985.matemapp.MenuPrincipale"
            android:noHistory="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- ARITMETICA: principale e divisioni per anno -->
        <activity
            android:name="com.firenze1985.matemapp.aritmetica.AritmeticaPrincipale"
            android:noHistory="true"
            android:label="@string/label_aritmetica_principale">
        </activity>
        <activity
            android:name="com.firenze1985.matemapp.aritmetica.AritmeticaPrima"
            android:noHistory="true"
            android:label="@string/label_aritmetica_principale">
        </activity>
        <activity
            android:name="com.firenze1985.matemapp.aritmetica.AritmeticaSeconda"
            android:noHistory="true"
            android:label="@string/label_aritmetica_principale">
        </activity>
        <activity
            android:name="com.firenze1985.matemapp.aritmetica.AritmeticaTerza"
            android:noHistory="true"
            android:label="@string/label_aritmetica_principale">
        </activity>
        <!-- ARITMETICA: argomenti -->      
        <activity
            android:name="com.firenze1985.matemapp.aritmetica.unitadidattiche.Frazioni"
            android:noHistory="true"
            android:label="@string/label_aritmetica_frazioni">
        </activity>
        <activity
            android:name="com.firenze1985.matemapp.aritmetica.unitadidattiche.Somma"
            android:noHistory="true"
            android:label="@string/label_aritmetica_somma">
        </activity>
        <activity
            android:name="com.firenze1985.matemapp.aritmetica.unitadidattiche.Insiemi"
            android:noHistory="true"
            android:label="@string/label_aritmetica_insiemi">
        </activity>        
        <!-- GEOMETRIA: principale e divisioni per anno -->
        <activity
            android:name="com.firenze1985.matemapp.geometria.GeometriaPrincipale"
            android:noHistory="true"
            android:label="@string/label_geometria_principale">
       </activity>
       <activity
            android:name="com.firenze1985.matemapp.geometria.GeometriaPrima"
            android:noHistory="true"
            android:label="@string/label_geometria_principale">
       </activity>
       <activity
            android:name="com.firenze1985.matemapp.geometria.GeometriaSeconda"
            android:noHistory="true"
            android:label="@string/label_geometria_principale">
       </activity>
       <activity
            android:name="com.firenze1985.matemapp.geometria.GeometriaTerza"
            android:noHistory="true"
            android:label="@string/label_geometria_principale">
        </activity>        
    </application>

</manifest>
